:root {
  --font-family-base: Inter, apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  --font-family-mono: 'JetBrainsMono', 'Fira Code Regular', 'Consolas', source-code-pro, Menlo, Monaco,
    'Courier New', monospace;

  --text-light-1: #0f0f0f;
  --text-light-2: #181818;
  --text-light-3: #1b1b1b;
  --text-dark-1: #dde1e3;
  --text-dark-2: #dee2e6;
  --text-dark-3: #e9ecef;

  --c-brand: #3273dc;
  --c-brand-active: #3273dc;
}

html {
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 400;
  color: var(--text-light-1);
}

html.dark {
  background: #222;
  color: white;
  color-scheme: dark;
}

a {
  text-decoration: none;
  color: var(--c-brand);
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #395;
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.select::after {
  z-index: 10;
  right: 1rem;
  border: 3px solid var(--c-brand);
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: ' ';
  display: block;
  height: 0.625em;
  margin-top: -0.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
  transform-origin: center;
  width: 0.625em;
}

::-webkit-selection {
  background-color: #cce2ff;
}
::-moz-selection {
  background-color: #cce2ff;
}
::selection {
  background-color: #cce2ff;
}
input::-webkit-selection,
textarea::-webkit-selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87);
}
input::-moz-selection,
textarea::-moz-selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87);
}
input::selection,
textarea::selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87);
}
