name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - feat/*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set Timezone
        run: sudo timedatectl set-timezone "Asia/Shanghai"

      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v2

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22.17.0
          cache: pnpm

      - name: Install
        run: pnpm install

      - name: Build
        run: pnpm build:all

      - name: Test
        run: pnpm test:ci
