name: Deploy docs

on:
  workflow_dispatch:
  push:
    branches:    
      - main
    paths:
      - docs/**

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Set Timezone
        run: sudo timedatectl set-timezone "Asia/Shanghai"

      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v2

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22.17.1
          cache: pnpm

      - name: Install
        run: pnpm install

      - name: Build
        run: pnpm build:docs

      - name: Setup ossutil
        uses: manyuanrong/setup-ossutil@v3.0
        with:
          endpoint: ${{ secrets.ACCESS_ENDPOINT }}
          access-key-id: ${{ secrets.ACCESS_KEY_ID }}
          access-key-secret: ${{ secrets.ACCESS_KEY_SECRET }}

      - name: Deploy To OSS
        run: |
          ossutil rm oss://${{ secrets.BUCKET_NAME }}/ -rf
          ossutil cp ./docs/.vitepress/dist oss://${{ secrets.BUCKET_NAME }}/ -rf
